.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: transform 2s ease;.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    transition: transform 2s ease; /* Agregamos una transición para el cambio de imagen */
  }
  
  .slide {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0; /* Comenzamos con una opacidad de 0 para ocultar las imágenes */
  }
  
  .slide.active {
    opacity: 1; /* Cambiamos la opacidad a 1 para mostrar la imagen activa */
  }

  
}



.slide {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}
